:root {
    /* Color Palette source https://coolors.co/dde392-afbe8f-7d8570-646f58-504b3a */
    --mindaro: #dde392ff;
    --sage: #afbe8f;
    --reseda-green: #7d8570;
    --drab-dark-brown: #504b3aff;
    --heading-font: 'Kanit', sans-serif;
    --paragraph-font: 'Quicksand', sans-serif;

    --border-radius: 0.5rem;
    --max-width: 1000px;
}

* {
    font-family: var(--paragraph-font);
    color: var(--drab-dark-brown);
}

h2 {
    text-align: center;
}

header,
footer {
    border: 2rem;
    background-color: var(--mindaro);
    grid-gap: 10%;
    border: 1px solid var(--drab-dark-brown);
    text-align: center;
}

.header_text {
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
}

header h1 {
    margin-left: 5%;
}

header img {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

/* Small view menu */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    margin-right: 0;
    margin-left: auto;
}

#menu::before {
    content: "☰";
    color: var(--drab-dark-brown);
}

#menu.open::before {
    content: "❎";
}

#navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--drab-dark-brown);
    color: var(--mindaro);
    margin: 0;
}

#navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--mindaro);
}

#navigation a.active {
    background-color: var(--mindaro);
    color: var(--drab-dark-brown);
}

#navigation a:hover {
    background-color: var(--mindaro);
    color: var(--drab-dark-brown);
}

#navigation.open a {
    display: block;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: var(--sage);
    border: 1px solid var(--drab-dark-brown);
    border-radius: var(--border-radius);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5);
    margin: 1rem;
    padding: 0 1rem 1rem;
    width: 100%;
    flex: 1 1 content;
}

#course_work {
    flex: 1 1 content;
}

#location {
    flex: 2 2 content;
}

#certificates {
    flex: 3 3 content;
}

figure {
    margin: 0;
    text-align: center;
}

figcaption {
    font-style: italic;
}

#cert-filters {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.filter {
    padding: .3rem;
    background-color: #000;
    color: var(--mindaro);
    border: none;
}

#courses {
    display: flex;
    flex-wrap: wrap;
}

.course {
    background-color: var(--mindaro);
    border: 1px solid var(--mindaro);
    margin: 1rem;
    padding: .5rem;
    text-align: center;
    width: 100%;
    flex: 1 1 content;
}

.course.complete {
    background-color: var(--drab-dark-brown);
    border: 1px solid var(--drab-dark-brown);
    color: var(--mindaro);
}

@media screen and (min-width: 768px) {
    #menu {
        display: none;
    }

    #navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #navigation a {
        display: block;
    }
}